# Fichiers Terraform générés localement
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfplan

# Variables sensibles
*.auto.tfvars
override.tf
override.tf.json

# Système
.DS_Store
Thumbs.db